h1 {
    text-align: center;
}

.name {
    text-align: right;
    margin-bottom: 64px;
}

.section_page {
    border: 5px solid #333;
    padding: 24px;
    margin: 0 24px 64px;
}

.section_page h2 {
    background-color: rgb(153, 201, 201);
    padding: 8px 16px;
    display: inline-block;
}

.section_page h3 {
    border-bottom: 3px solid #333;
    display: inline-block;
}

.section_page pre {
    background-color: rgb(223, 223, 223);
    white-space: pre-wrap;
}

.span_example {
    font-weight: bold;
}